<%- partial('common/head') %>
<body>
    <div id="container">
        <%- partial('common/header') %>
        <div class="outer">
            <section id="main"><%- body %></section>
            <aside>
                <% if (theme.customize.sidebar) { %>
                    <%- partial('common/sidebar', null, {cache: !config.relative_link}) %>
                <% } %>
            </aside>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>